@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@keyframes fill {
  0% { width: 0; }
  100% { width: 100%; }
}

.animate-fill {
  animation: fill 15s linear forwards;
}